    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'Assistant', sans-serif;
    }
    
    $primarycolor: #4e73df;
    // navbar
    .navbar {
        // box-sizing: border-box;
        // justify-content: space-between;
        // width: 1088px;
        height: 89px;
        // background: transparent;
        #navbarNav {
            ul {
                li {
                    a {
                        font-size: 20px !important;
                        font-weight: bold !important;
                    }
                }
            }
        }
    }
    
    // jumbotron
    .jumbotron {
        width: 100%;
        // height: 10;
        height: 700px;
        margin-top: -200px;
        background: url("/img/bg.png");
        background-position: center;
        background-size: cover;
        .title {
            margin-top: 200px;
            color: white;
            h1 {
                font-family: "Playfair Display";
                font-weight: bold;
                font-size: 40px;
                letter-spacing: 0.01em;
                text-align: left;
                // color: #fff;
            }
            p {
                width: 352px;
                height: 146px;
                font-family: Assistant;
                font-weight: normal;
                font-size: 18px;
                letter-spacing: 0.01em;
                text-align: left;
                color: #fff;
                margin-top: -100px;
            }
            p.lead {
                font-family: Assistant;
                font-weight: normal;
                font-size: 18px;
                letter-spacing: 0.01em;
                text-align: left;
                margin-top: 0;
                // color: #fff;
                a.btn {
                    width: 213px;
                    height: 55px;
                    border-radius: 10px;
                    background: #4e59b5;
                }
            }
        }
    }
    
    //  top destinations
    .top-destination {
        font-family: Righteous;
        .container {
            h1 {
                font-family: Righteous;
                font-weight: normal;
                font-size: 40px;
            }
            .section {
                font-family: Righteous;
                font-weight: normal;
                .card-destination {
                    padding-top: 20px;
                }
                h3 {
                    // margin-top: 30px;
                    font-size: 40px;
                    color: #fff;
                }
            }
        }
    }
    
    // explore-indonesia
    #explore-indonesia {
        font-family: Assistant;
        color: #7d7c7c;
        span {
            font-weight: normal;
            font-size: 46px;
            letter-spacing: 0.01em;
        }
        h1 {
            font-family: Righteous;
            font-weight: normal;
            font-size: 56px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #7d7c7c;
        }
        .travel-packages {
            .container {
                .card {
                    margin-left: 10px;
                    margin-top: 10px;
                    h3 {
                        font-size: 26px;
                        font-weight: bold;
                        color: white;
                    }
                }
            }
        }
    }
    
    section.footer {
        .footer-nav {
            margin-bottom: 10px !important;
            // margin-left: -5px !important;
            a {
                font-family: Assistant;
                font-weight: bold;
                font-size: 20px;
                color: #707070;
                text-decoration: none;
            }
            .icon {
                margin-left: 15px;
                margin-top: -10px;
                a {
                    filter: grayscale(100%);
                    transition: 500ms;
                    display: inline-block;
                    &:hover {
                        filter: none;
                        transform: scale(1.25, 1.25);
                    }
                }
            }
        }
    }
    
    // login-register
    .login-register {
        section.title {
            margin-bottom: 30px;
            color: #7D7C7C;
            h1 {
                display: inline-block;
                font-weight: bold;
                font-size: 32px;
            }
            span {
                display: inline-block;
                font-weight: lighter;
                font-size: 36px;
                // color: red;
            }
        }
        section.main {
            .container {
                .login-register {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    overflow: hidden;
                    .button-box {
                        // margin: 30px auto;
                        position: relative;
                        .btn {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 50%;
                            height: 40px;
                            border-radius: 30px;
                            background-color: rgba($primarycolor, $alpha: .5);
                            transition: 1s;
                        }
                        button {
                            position: relative;
                            background: transparent;
                            border: none;
                            border-radius: 30px;
                            font-size: 27px;
                            font-weight: bold;
                            text-transform: uppercase;
                            // margin-right: 0px;
                            // padding-left: 20px;
                            padding: 0 30px;
                        }
                    }
                    .form-login,
                    .form-register {
                        position: relative;
                        margin-top: 50px;
                        transition: 1s;
                        .form-group {
                            margin-left: 40px;
                        }
                        .form-group:first-child {
                            margin-top: -140px;
                            margin-bottom: 70px;
                        }
                        input {
                            border-top: 0;
                            border-right: 0;
                            border-left: 0;
                            border-bottom: 1px solid #707070;
                            border-radius: 0;
                            border-width: thin;
                            width: 352px;
                            background: transparent;
                            margin-top: 40px !important;
                            &:focus+label,
                            &:valid+label {
                                transform: translateY(-50px);
                                left: 45px !important;
                                font-size: 15px;
                            }
                        }
                        label {
                            display: inline-block;
                            position: absolute;
                            // left: 5px;
                            // top: -2px;
                            transition: all 800ms;
                            // opacity: .5;
                            transform: translateY(-30px);
                            left: 50px !important;
                            transition: 800ms;
                            font-size: 18px;
                            background-color: white;
                            // color: red;
                        }
                        .forgotpassword {
                            a {
                                transition: 300ms;
                                &:hover {
                                    font-weight: bold;
                                }
                            }
                        }
                        .btn-login {
                            width: 210px;
                            margin-top: 30px;
                            margin-left: 100px;
                            span {
                                font-size: 26px;
                                font-weight: bold;
                            }
                        }
                        .tidakadaakun {
                            h5 {
                                font-size: 15px;
                                // font-weight: ;
                                margin-left: 100px;
                                margin-top: 20px;
                                a {
                                    display: inline-block;
                                    font-weight: bold;
                                    color: $primarycolor;
                                    // cursor: pointer;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .form-register {
                        .form-group:first-child {
                            // margin-top: -140px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    
    // success
    section.success {
        p {
            font-size: 25px;
            margin-top: 10px;
        }
        span {
            display: block;
            font-weight: bold;
            margin-top: 10px;
            // color: red;
            color: rgb(180, 178, 178);
        }
        h5 {
            font-size: 32px;
        }
        img {
            width: 100px;
            height: 100px;
        }
        h5 {}
    }
    
    // my account
    .profile {
        h3 {
            margin-top: 50px;
            font-weight: bold;
            font-size: 26px;
        }
    }
    
    .my-transaction {
        h3 {
            margin-top: 50px;
            font-weight: bold;
            font-size: 26px;
        }
    }
    
    // keranajang
    section.keranjang {}