* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

section.title {
  color: #7D7C7C;
}

section.title h1 {
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
}

section.title span {
  display: inline-block;
  font-weight: lighter;
  font-size: 36px;
}

section.main .container .login-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

section.main .container .login-register .button-box {
  position: relative;
}

section.main .container .login-register .button-box .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 40px;
  border-radius: 30px;
  background-color: rgba(78, 115, 223, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

section.main .container .login-register .button-box button {
  position: relative;
  background: transparent;
  border: none;
  border-radius: 30px;
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 30px;
}

section.main .container .login-register .form-login,
section.main .container .login-register .form-register {
  position: relative;
  margin-top: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

section.main .container .login-register .form-login .form-group,
section.main .container .login-register .form-register .form-group {
  margin-left: 40px;
}

section.main .container .login-register .form-login .form-group:first-child,
section.main .container .login-register .form-register .form-group:first-child {
  margin-top: -140px;
  margin-bottom: 70px;
}

section.main .container .login-register .form-login input,
section.main .container .login-register .form-register input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #707070;
  border-radius: 0;
  border-width: thin;
  width: 352px;
  background: transparent;
  margin-top: 40px !important;
}

section.main .container .login-register .form-login input:focus + label,
section.main .container .login-register .form-login input:valid + label,
section.main .container .login-register .form-register input:focus + label,
section.main .container .login-register .form-register input:valid + label {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  left: 45px !important;
  font-size: 15px;
}

section.main .container .login-register .form-login label,
section.main .container .login-register .form-register label {
  display: inline-block;
  position: absolute;
  -webkit-transition: all 800ms;
  transition: all 800ms;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  left: 50px !important;
  -webkit-transition: 800ms;
  transition: 800ms;
  font-size: 18px;
  background-color: white;
}

section.main .container .login-register .form-login .forgotpassword a,
section.main .container .login-register .form-register .forgotpassword a {
  -webkit-transition: 300ms;
  transition: 300ms;
}

section.main .container .login-register .form-login .forgotpassword a:hover,
section.main .container .login-register .form-register .forgotpassword a:hover {
  font-weight: bold;
}

section.main .container .login-register .form-login .btn-login,
section.main .container .login-register .form-register .btn-login {
  width: 210px;
  margin-top: 30px;
  margin-left: 50px;
}

section.main .container .login-register .form-login .btn-login span,
section.main .container .login-register .form-register .btn-login span {
  font-size: 26px;
  font-weight: bold;
}

section.success p {
  font-size: 25px;
  margin-top: 10px;
}

section.success span {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #b4b2b2;
}

section.success h5 {
  font-size: 32px;
}

section.success img {
  width: 100px;
  height: 100px;
}
/*# sourceMappingURL=style.css.map */