a {
    text-decoration: none;
}

.sidebar {
    height: auto;
}

.main_content {
    .content {
        min-height: 100vh;
    }
}

// .footer {
//     position: relative;
//     // min-height: 100%;
// }